body {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

textarea#outputBox {
    position: fixed;
    top: 90px;
    left: 0%;
    width: calc(100% - 35px);
    height: calc(100vh - 180px);
    margin: 15px;
    box-sizing: border-box;
}

#userInput,
#sendButton {
    position: fixed;
    bottom: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
}

textarea#userInput {
    width: calc(80% - 20px);
    height: 50px;
    left: 10px;
    display: inline-block;
}

button#sendButton {
    width: 18%;
    height: 50px;
    right: 20px;
    color: black;
    display: inline-block;
}

.output-put {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

textarea#outputBox::-webkit-scrollbar,
textarea#userInput::-webkit-scrollbar {
    width: 10px;
}

textarea#outputBox::-webkit-scrollbar-track,
textarea#userInput::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f1f1f1;
}

textarea#outputBox::-webkit-scrollbar-thumb,
textarea#userInput::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #888;
}

textarea#outputBox::-webkit-scrollbar-thumb:hover,
textarea#userInput::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}